<?php

function ah_drupal_core_version() {
  if (defined('DRUPAL_CORE_COMPATIBILITY')) {
    switch (DRUPAL_CORE_COMPATIBILITY) {
      case '8.x':
        return '8';
      case '7.x':
        return '7';
    }
  }
  // in D8, the old var got removed:
  // https://drupal.org/node/2067017
  else if (class_exists('Drupal') && defined('Drupal::CORE_COMPATIBILITY')) {
    switch (Drupal::CORE_COMPATIBILITY) {
      case '8.x':
        return '8';
      case '7.x':
        return '7';
    }
  }
}

$config_file = __DIR__ . '/D' . ah_drupal_core_version() . '-{{ item.shortname }}-settings.inc';
require_once $config_file;

/**
 * New Relic settings.
 */
if (function_exists('newrelic_set_appname')) {
  newrelic_set_appname('{{ config.newrelic_prefix }} - {{ item.shortname }}');
}
