extension = "newrelic.so"
{% if config.newrelic is defined %}
newrelic.enabled = true
newrelic.license = "{{ config.newrelic.license }}"
newrelic.appname = "{{ config.newrelic.prefix }}"
{% else %}
newrelic.enabled = false
{% endif %}
