zend_extension={{ php_xdebug_so_path.stdout }}
xdebug.remote_enable  = 1
xdebug.remote_host    = 10.0.2.2
xdebug.remote_port    = 9000
xdebug.remote_handler = dbgp
xdebug.remote_autostart=0
xdebug.idekey=PHPSTORM
