PORT="{{ memcached_port }}"
USER="{{ memcached_user }}"
# Max connection e.g., 2048.
MAXCONN="{{ memcached_connections }}"
# Ram size e.g., 2048 - 2GiB.
CACHESIZE="{{ memcached_cachesize }}"
# Listen to loopback ip 127.0.0.1, for network connection use real ip e.g., 10.0.0.4.
OPTIONS="-l {{ memcached_ip }}"
